[alias]
	ap = add -p
	aa = ci -a --amend --no-edit
	a = ci --amend --no-edit
	ri= rebase -i
	riaa= rebase -x \"git commit --amend --reset-author -CHEAD\" -i
	rom = rebase origin/master
	rc = rebase --continue
	f = fetch
	pr = remote prune origin
	d = diff
	ds = diff --staged
	st = status --short --branch
	sns = show --name-status
	ci = commit
	cim = commit -m
	ciam = commit -am
	rh = reset --hard
	co = checkout
	br = branch
	brd = branch -D
	chp = cherry-pick
	pl = pull
	p = push
	pnb = push -u origin HEAD
	pf = push --force-with-lease
	cia = commit --amend
	l = "log --pretty=format:'%Cgreen%<(15,trunc)(%ch) %C(red)%d%Creset %C(yellow)%h%Creset %<(80,trunc)%s %Creset<%an>%Creset' --abbrev-commit"
	cl = clean -fd
[core]
	editor = micro
[pull]
	rebase = true
[user]
	name = Artur Shellunts
	email = shellunts.artur@gmail.com

[delta]
    navigate = true    # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
