[user]
	name = Artur Shellunts
	email = shellunts.artur@gmail.com
[pull]
	rebase = true
[core]
	editor = code --wait --new-window
[alias]
	aa = ci -a --amend --no-edit
	cl = clean -fd
	a = ci --amend --no-edit
	cl = clean -fd
	ri= rebase -i
	riaa= rebase -x \"git commit --amend --reset-author -CHEAD\" -i
	rh = reset --hard
	rom = rebase origin/master
	rc = rebase --continue
	f = fetch
	pr = remote prune origin
	d = diff
	ds = diff --staged
	st = status --short --branch
	ci = commit
	cim = commit -m
	ciam = commit -am
	co = checkout
	br = branch
	brd = branch -D
	chp = cherry-pick
	pl = pull
	p = push
	pnb = push -u origin HEAD
	pf = push -force-with-lease
	l = "log --pretty=format:'%Cred%h%Creset%x09%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
[pull]
	rebase=true
[color "diff"]
	meta = "#3388ff"

